* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.gif binary
*.gz binary
*.ico binary
*.jar binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.png binary
*.wasm binary
*.xz binary
*.zip binary
